.nav {
	background-color: #f49842;
	height:58px;
}

.btn {
	border-radius: 4px;
	font-size: 20px;
	padding: 10px 28px;
	border: none;
    cursor: pointer;
    display: inline-block;
}

.home {
	position: absolute;
	top:10px;
	left:10px;
	background-color: inherit;
	color:#FFFFFF;
}

.upload, .signup {
	position: absolute;
	color:#FFFFFF;
	top:10px;
	right:130px;
	background-color: inherit;
}
.upload {
	background-color: #3f5d9e;
}

.login {
	position: absolute;
	top: 10px;
	right: 12px;
	background-color: inherit;
	color:#FFFFFF;
}

.btn:hover {
    background-color: #e2e2e2;
    color:#000000;
}

input {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}

input:hover{
  opacity: 1;
}

/* style the submit button */
input[type=submit] {
  background-color: #b56641;
  color: white;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #6d4735;
}

form {
  margin: 0 auto;
  width: 30%;
  margin: auto;
  padding: 0 50px;
  margin-top: 100px;
}

/* Homepage gallery part */
#icontent {
	margin: auto;
	/*min-height: 400px;*/
	padding-bottom:100px;
	clear:both;
  	width: 80%;
  	padding-left: 20%;
  	margin-bottom: 50px;
}

div.gallery {
  margin: 10px;
  /*border: 1px solid #ccc;*/
  float: left;
  width: 25%;
  height:450px;
}

.img-item {
	opacity: 1;
	display:block;
	object-fit: contain;	
	width:100%;
	height:350px;
	transition:.5s ease;
	backface-visibility: hidden;
}

.gallery:hover .img-item{
	opacity: 0.3;
}
.gallery:hover .middle{
	opacity: 1;
/*	background-color: grey;*/
}


.middle {
	transition: .5s ease;
	opacity:0;
	transform: translate(-40%,-600%);
	-ms-transform:translate(-40%,-600%);
	text-align: center;
}

div.desc {
  padding: 15px;
  text-align: center;
  height: 10px;
}

div.like { 
	padding:5px;
	text-align: right;
}

/* image comment part */

body {
	font-family: 'Helvetica Neue', sans-serif;
	position: relative;
  	min-height: 150vh;
}


h1 { 
	color: #595959; 
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 75px; 
	font-weight: bold; 
	letter-spacing: -1px; 
	text-align: center; 
	margin: 100px -10px -10px -10px;
	vertical-align:middle;
}

h2 { 
	width:100%;
	color: #a3a1a1; 
	font-family: 'Open Sans', sans-serif; 
	font-size: 20px; 
	font-weight: lighter;
	line-height: 1px; 
	text-align: center; 
}

.container {
	margin-top: -10px;
}

.iimage {
	margin-top: 20px;
	display:flex;
    align-items:center;
    justify-content:center;
}

.imain {
    margin-bottom: 50px;
}


.imain form input {
	background: #f0f0f0; 
	border:none;
	border-left:2px solid #fff;
	font-size: 18px;
	/*padding:20px;*/
	margin-bottom: : 200px;
	width:100%;
	//transition:background 1s, border-left 1s;
	border-radius: 0 4px 4px 0; 
}

.imain input:focus {
	background:#fff;
	border-left:2px solid #ccc;
	box-shadow: inherit;
	outline:none;
}

.imain button.btn
{
	background:transparent;
	border:none;
	color:#008df1;
	cursor:pointer;
	font-size:18px;
	padding:20px 24px;
	transition:background 1s, color 1s;
}

.imain button.btn:hover
{
	background: #388ac4;
	color:#fff;
}

.comments 
{
	margin: auto;
  	width: 100%;
  	height:30%;
	list-style: none;
	padding-left: 2px;
	display: inline-block;
	padding-top:10px;
}

#cmbox{
  margin: auto;
  width: 50%;
  padding: 10px 10px 10px 20%;
}
.comments li {
	padding-left:20px;
	border-left: 2px solid #CCC;
	font-size:20px;
	margin:0 0 18px;
}

.comments ul {
	width: 100%;
    margin: auto;
	height:150px;
	overflow: :auto;
}

.cmdesc{
	color: gray;
	padding-left: 5px;
}

#like img{
	opacity: 1;
}
#like img:first-child:hover {
	opacity: .5;
}


.footer {
	clear:both;
	position: relative;
	bottom: 0;
	width: 100%;
	height:50px;
	background-color: #f49842;
	color: white;
	text-align: center;
	display: inline-block;
	margin-top: 50px;
}