<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Sharing Application - Reset Password</title>
     <link rel="stylesheet" type='text/css' href="style.css">
</head>

<body>
<div class="nav">
	<a href="/"><button class="btn home">Home</button></a>
</div>

<form action="/forget" method="post" >
    <label><b>Reset you password:</b></label><br><br>
    Username: <input type="text" name="username" placeholder="Username" id="username" required>
    New Password: <input type="password" name="password" placeholder="Password" id="password" required>
    Confirm New Password: <input type="password" name="c_password" placeholder="Confirm Password" id="c_password" required>
    <input type="submit" value="Reset">
	<font color="#FF0000"><%=msg%></font>
</form>
<div class="footer">
		<p>CS7025 - Image Sharing Application by Woon Him WONG @ IDM 2019</p>
</div>
</body>
</html>
