<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Sharing Application - Sign up</title>
     <link rel="stylesheet" type='text/css' href="style.css">
</head>
<body>
<div class="nav">
    <a href="/"><button class="btn home">Home</button></a>
</div>
<h1>Join us now!</h1>
<form action="/register" method="post">
    Username: <input type="text" name="username" placeholder="Username" id="username" required>
    Password: <input type="password" name="password" placeholder="Password" id="password" required>
    Confirm Password: <input type="password" name="c_password" placeholder="Confirm Password" id="c_password" required>
    First Name: <input type="text" name="firstname" placeholder="first name" id="firstname" required>
    Last Name: <input type="text" name="lastname" placeholder="Last name" id="lastname" required>
    <input type="submit" value="Login">
    <font color="#FF0000"><%=msg%></font>
</form>
<div class="footer">
        <p>CS7025 - Image Sharing Application by Woon Him WONG @ IDM 2019</p>
</div>

</body>
</html>
